# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# Environment Variables
.env
.env.*
!.env.example  # keep example if needed

# VS Code settings
.vscode/