certifi==2025.7.14
charset-normalizer==3.4.2
decorator==4.4.2
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
moviepy==1.0.3
numpy==2.2.6
Pillow==9.5.0
proglog==0.1.12
python-dotenv==1.1.1
requests==2.32.4
tqdm==4.67.1
urllib3==2.5.0
yt-dlp==2025.7.21
